{% extends "base.html.twig" %}

{% block title %}Une symfony de recettes - Accueil
{% endblock %}

{% block body %}
	<div class="p-5 mb-4 bg-light">
		<div class="container py-5">
			<h1 class="display-5 fw-bold">Welcome To<br> Une Symfony de Recettes</h1>
			<p class="col-md-8 fs-4 lead">Une Symfony de Recettes est une application qui va te permettre de créer des recettes à base d'ingrédients que tu auras toi-même créer. Tu pourras partager tes recettes à la communauté du site, ou bien les garder en privées.</p>
			<hr class="my-4">
            <p class="col-md-8 fs-4 lead">Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
            <button class="btn btn-warning btn-lg" type="button">Je veux m'inscrire</button>
		</div>
	</div>

{% endblock %}